@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 6% 10%;
    --card: 240 5% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 240 5% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 258 95% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 84%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 174 79% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 258 95% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 240 5% 96%;
    --card: 240 6% 12%;
    --card-foreground: 240 5% 96%;
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 96%;
    --primary: 258 95% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 6% 15%;
    --secondary-foreground: 240 5% 96%;
    --muted: 240 6% 15%;
    --muted-foreground: 240 4% 56%;
    --accent: 174 79% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 18%;
    --input: 240 6% 18%;
    --ring: 258 95% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
